@font-face {
    font-family: Minecraft;
    src: url(http://localhost:8080/static/Font/minecraft/minecraft_font.woff);
}


label {
    font-family: Minecraft, sans-serif;
}

body {
    color: #fff;
    background-color: #171615;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text {
    text-align: center;
    flex: 1;
    margin-right: 50px;
}

.imgmob {
    max-width: 40%;
    height: auto;
    margin-top: 20px;
    margin-right:  30px; ;
}