@font-face {
    font-family: Minecraft;
    src: url(http://localhost:8080/static/Font/minecraft/minecraft_font.woff);
}
@font-face {
    font-family: MinecraftTEN;
    src: url(http://localhost:8080/static/Font/minecraft/MinecraftTen.woff);
}
body{
    font-family: Minecraft, sans-serif;
    background-color: #171615;
}

.propos-page {
    background-color: #171615;
    color: #fff;
}

.propos-page .subtitle {
    font-size: 1.2em;
    font-style: italic;
}

.propos-page section {
    color: #fff;
    background-color: #171615;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.propos-page section h2 {
    font-size: 1.5em;
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.propos-page footer {
    background-color: #313131;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}