@font-face {
    font-family: Minecraft;
    src: url(http://localhost:8080/static/Font/minecraft/minecraft_font.woff);
}
@font-face {
    font-family: MinecraftTEN;
    src: url(http://localhost:8080/static/Font/minecraft/MinecraftTen.woff);
}


body{
    font-family: MinecraftTEN, sans-serif;
}

td{
    font-family: Minecraft, sans-serif;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;

}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th,
td {
    padding: 20px;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}
thead,
tfoot {
    color: white;
    text-shadow: 1px 1px 1px black;
}

thead th,
tfoot th,
tfoot td {
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.5)
    );
    border: 3px solid black;
}

tbody tr:nth-child(odd) {
    background-color: #D0C5C0;
}

tbody tr:nth-child(even) {
    background-color: #EDE5E2;
}


table {
    background-color: #6CC349;
}