{{define "end"}}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/end.css">
        <link rel="icon" type="image/png" href="/static/Favicons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/static/Favicons/favicon.svg" />
        <link rel="shortcut icon" href="/static/Favicons/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/Favicons/apple-touch-icon.png" />
        <link rel="manifest" href="/static/Favicons/site.webmanifest" />
        <title>Fin de la partie</title>
    </head>
    {{template "header"}}
    <body>

    <h1>{{.}}</h1>
    <button class="bouton" type="button" >  <audio id="audio" src="http://localhost:8080/static/sons/Wither.mp3" autoplay></audio><a href = "/ ">RETOUR AU MENU </a> </button>
    </body>
    </html>
{{end}}
