{{define "game"}}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jeu du Pendu</title>
        <link rel="stylesheet" href="/static/css/game.css">
        <script src="/static/JS/Sons.js"></script>
    </head>
    {{template "header"}}
    <body>

    <audio autoplay><source src="http://localhost:8080/static/sons/orb.mp3" /></audio>
    <h1>Jeu du Pendu</h1>
    <p>Essais restants : {{.EssaisRestants}}</p>
    <p>Mot à deviner : {{.MotAffiche}}</p>
    <form action="/play" method="post">
        <label for="lettre">Entrez une lettre :</label>
        <input type="text" name="lettre" maxlength="1" required>
        <button type="submit">Soumettre</button>
    </form>
    <p>Lettres déjà essayées : {{.LettresEssayees}}</p>
    </body>
    </html>
{{end}}
