{{define "game"}}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/static/Favicons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/static/Favicons/favicon.svg" />
        <link rel="shortcut icon" href="/static/Favicons/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/Favicons/apple-touch-icon.png" />
        <link rel="manifest" href="/static/Favicons/site.webmanifest" />
        <link rel="stylesheet" href="/static/css/game.css">
        <title>Hangman - Jeu</title>
    </head>
    <body>
        {{template "header"}}
        <div class="contenu">
            <div class="reste">
                <div class="texte">
                    <p>Mot à deviner : {{.MotAffiche}}</p>
                    <p>Essais restants :{{if eq .Mob "Enderman"}}
                        <a> ∞ </a>
                    {{else}}
                        {{.EssaisRestants}}
                    {{end}}</p>
                    <p>Lettre(s) essayée(s) :</p>
                    <div class="contenu-lettre">
                        {{range .LettresEssayees}}
                            <img class="lettre" src="/static/images/{{.}}.png" alt="letter">
                        {{end}}
                    </div>
                    <form action="/play" method="post">
                        <label for="mot">Entrer une valeur (lettre ou mot) :</label>
                        <input type="text" name="value" id="mot" required>
                        <button type="submit" class="bouttton">Valider </button>
                    </form>
                </div>
            </div>
                {{if eq .Mob "Enderman"}}
                    <img class="imgmob" src="/static/images/Enderman.png" alt="Enderman">
                {{else}}
                    <img class="imgmob" src="/static/images/{{.Mob}}{{.EssaisRestants}}.png" alt="Img hangman">
                {{end}}

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var correct = {{.Correct}};
                    var alreadyEntered = {{.AlreadyEntered}};
                    if (alreadyEntered) {
                        document.getElementById('alreadyEnteredSound').play();
                    } else if (correct) {
                        document.getElementById('correctSound').play();
                    } else {
                        document.getElementById('incorrectSound').play();
                    }
                });
            </script>
            <audio id="correctSound" src="/static/sons/orb.mp3"></audio>
            <audio id="incorrectSound" src="/static/sons/OOF.mp3"></audio>
            <audio id="alreadyEnteredSound" src="/static/sons/Click1.mp3"></audio>
        </div>
    </body>
</div>
    </html>
{{end}}