{{define "index"}}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="./static/Favicons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/static/Favicons/favicon.svg" />
        <link rel="shortcut icon" href="/static/Favicons/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/Favicons/apple-touch-icon.png" />
        <link rel="manifest" href="/static/Favicons/site.webmanifest" />
        <title>Hangman - Accueil</title>

        <link rel="stylesheet" href="/static/css/index.css">
        <script src="/static/JS/Sons.js"></script>
    </head>
    {{template "header"}}
    <body>
    <audio src="http://localhost:8080/static/sons/Creator.mp3" autoplay></audio>
    {{if .}}
        <p style="color:#ff0000;">{{.}}</p>
    {{end}}
    <form action="/" method="post">
    <div class="test">
        <label for="pseudo">Entrez votre pseudo :</label><br>
        <input type="text" id="pseudo" name="pseudo" required><br><br>

            <legend>Choisissez une difficulté :</legend>
            <input type="radio" id="normal" name="difficulte" value="Normal" required> 
            <label for="normal">Normal</label><br>


            <input type="radio" id="difficile" name="difficulte" value="Difficile">
            <label for="difficile">Difficile</label><br>

            <input type="radio" id="extreme" name="difficulte" value="Extreme">
            <label for="extreme">Extrême</label><br>

            <input type="radio" id="nullos" name="difficulte" value="Nullos">
            <label for="nullos">Nullos</label><br>

            <input type="radio" id="entrainement" name="difficulte" value="Entrainement">
            <label for="entrainement">Entraînement</label><br>
</div>
        <button class="bouton" type="submit">Démarrer une nouvelle partie </button>
    </form>
    </body>
    </html>
{{end}}
