{{define "propos"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> HangmanWeb-lesNullos </h1>

<p>HangmanWeb est un projet de première année B1 Info/Cyber à Ynov, 
dont l'objectif est de créer un jeu du pendu sur le web en utilisant HTML et CSS, 
avec une programmation en GoLang.</p>

<h2>Prérequis </h2>
<h3>Installation de Visual studio code un éditeur de code</h3> 
<p>https://code.visualstudio.com/</p>


#### Installation la version de Golang via le site web
<p>https://go.dev/doc/install

verification de la verison :
``` bash
 go version 
```
Personnellement pour notre projet j'ai utiliser la go 1.23.0 windows/amd64</p>


<h2> Présentation du jeu</h2>

<p>Notre HangmanWeb est un pendu sur le thème de Minecraft 
avec un système de niveaux de difficultés et un tableau des score !</p>


<h2>Organisation</h2>

<p>Nous avons créé un dossier HangmanWeb-Lesnullos, puis par la suite, nous avons créé un main.go avec notre programme du pendu à l'intérieur, ainsi qu'une liste de mots dans un fichier .txt. 
Ensuite, nous avons effectué un sous-dossier templates avec nos pages .html et un autre sous-dossier static qui contient deux autres sous-dossiers : css et images, où se trouvent nos fichiers .css et nos images .png.</p>


<h2> Auteur </h2>
-  [Bastien JOUFFRE](https://github.com/jfrbast)
-  [Lilian LE PIVER](https://github.com/LilianLPV)

<h2> Pour lancer notre projet </h2>

<p>- Dans un terminal taper "git clone https://github.com/jfrbast/HagmanWeb-lesNullos.git"
- Tapez "cd HangmanWeb-lesNullos"
- Lancez le programme en tapant "go run .   "
- Lancez votre navigateur web et taper "/http://localhost:8080"
- Amusez-vous !!</p>
</body>
</html>
{{end}}