{{define "scores"}}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="./static/Favicons/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/static/Favicons/favicon.svg" />
        <link rel="shortcut icon" href="/static/Favicons/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/Favicons/apple-touch-icon.png" />
        <link rel="manifest" href="/static/Favicons/site.webmanifest" />
        <title>Tableau des Scores</title>
        <link rel="stylesheet" href="/static/css/scores.css">
    </head>
    {{template "header"}}
    <body>
    <h1>Tableau des Scores</h1>
    <table>
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Difficulté</th>
            <th>Mot</th>
            <th>Coups Joués</th>
            <th>Essais Restants</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {{range .}}
            <tr>
                <td>{{.Pseudo}}</td>
                <td>{{.Difficulte}}</td>
                <td>{{.MotATrouver}}</td>
                <td>{{.CoupsJoues}}</td>
                <td>{{.EssaisRestants}}</td>
                <td>{{.Date}}</td>
            </tr>
        {{else}}
            <tr>
                <td colspan="6">Aucun score enregistré.</td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <br>
    </body>
    </html>
{{end}}
